<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parse</key>
	<dict>
		<key>Application ID</key>
		<string>4oB2SxIWEp5ZpyN1J9CqG2K2fzCPHAHL434m5Fel</string>
		<key>Client Key</key>
		<string>PZBIaNyNTpEqYwWv8bmqjNi6Aev98qrRX0vwkpab</string>
	</dict>
</dict>
</plist>
